a{
    text-decoration: none;
    color: goldenrod;
}
.nav-item a:hover{
    color: goldenrod;
}
.col-12 h2{
    color: rgb(187, 143, 33);
padding: 4%;
}
.col-md-4 h3{
    color: goldenrod;
}
#backgroundimage{
    background-image: url(backimage.webp);

background-repeat: no-repeat;
width: 100%;
height: 50%;
background-attachment: fixed;
background-size: 100%;
transition: all 2s 3s ;
}
.dropdown:hover > .dropdown-menu{
    display: block;
}