a{
    text-decoration: none;
    color: goldenrod;
}
.nav-item a:hover{
    color: goldenrod;
}
.col-12{
    background-image: url(1pic.jpg);

background-repeat: no-repeat;
width: 100%;
height: 50%;
background-attachment: fixed;
background-size: 100%;
transition: all 2s 3s ;
}
.col-12:hover{
    background-image: url(many.jpg);
    background-repeat: no-repeat;

background-attachment: fixed;
background-size: 100%;
}
.col-12 h3{
font-size: 50px;
font-weight: bold;
color: white;
margin: 15%;
}
.dropdown:hover > .dropdown-menu{
    display: block;
}
.col-sm-4 img{
    width: 100%;
}
.col-sm-4 h4{
    border: 2px double gray;
    text-align: center;
}
.col-sm-4 img:hover{
border: 2px green;
    border-radius: 20px;
    box-shadow: 6px 6px 2px 3px gray;
}
#mycontainer{
    background-color: rgb(214, 212, 212);
}